body {
	width: 300px;
	height: 200px;
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;    
}

h1 {
    font-size: 105%;
}

#mainContent {
    font-size: 95%;
}

#status {
    max-width: 400px;
    margin-bottom: 10px;
    font-weight: bold;
}

.hidden {
	display: none;
}

.aws-wrong-region-warning {    
    animation: aws-wrong-region-warning-pulse 2s 3;    
}
  
@keyframes aws-wrong-region-warning-pulse {
    0% {
        color: #eee;
    }
    100% {
        color: #FF4136;
    }
}
  
